*{
	padding: 0;
	margin:0;
	font-family:'sans-serif',Verdana,Arial;
}
.maindiv{
    text-align: center;
}
h1{ font-family: 'sans-serif';
	background:#4A8EDE;
	color:white;
}
h3{ 
    color:#535153;	
	font-family: 'sans-serif';
}
input[type=text]{
	font-family: 'sans-serif';
	width:350px;
	height: 35px;
    font-size: 25px;
    color: gray;
    box-shadow: 2px 3px black;
    border-radius: 5px;
    padding-left: 10px;
    margin:15px;
}
input[type=date]{
    width:350px;
	height: 35px;
	margin-bottom:16px;
    padding-left:10px;
    font-size: 25px;
    color: gray;    
    box-shadow: 2px 3px black;
    border-radius: 5px;
    padding-left: 10px;
}
textarea{
	max-width: 450px;
	min-width: 450px;
    max-height: : 300px;
    min-height: 300px;
    padding: 10px;
    color: gray;    
    box-shadow: 2px 3px black;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 15px;

}
input[type=file]{
width: 400px;  
font-size: 20px;
border-radius: 5px;
background:  #4A8EDE;
}

input[type=submit]{
	width:150px;
	height: 35px;
	border-radius:5px;
    border:1px solid transparent;
    background: #4A8EDE;
	color:white;
	margin-top:25px;
    font-weight:600; 
     
}
